<table bgcolor="#E3F1BD" cellpadding="0px" cellspacing="0px" width="210px"  >
<tr class="LeftPaneHLink">
<td >
@Html.ActionLink("Contact Support", "Home")
</td>
</tr>
<tr class="LeftPaneHLink">
<td style="color:#CC6666">
@Html.ActionLink("About", "Applications")
</td>
</tr>
</table>
